[submodule "RSDK-Reverse"]
	path = RSDK-Reverse
	url = https://github.com/Rubberduckycooly/RSDK-Reverse.git
[submodule "GenerationsLib"]
	path = GenerationsLib
	url = https://github.com/CarJem/GenerationsLib.git
[submodule "Retro-Engine-Animation-Editor"]
	path = Retro-Engine-Animation-Editor
	url = https://github.com/Rubberduckycooly/Retro-Engine-Animation-Editor.git
