<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cyotek.Drawing.BitmapFont" version="1.3.4" targetFramework="net461" requireReinstallation="true" />
  <package id="Cyotek.Windows.Forms.ColorPicker" version="1.7.2" targetFramework="net46" />
  <package id="DiscordRichPresence" version="1.0.121" targetFramework="net472" />
  <package id="DynamicLanguageRuntime" version="1.2.2" targetFramework="net452" />
  <package id="Expression.Blend.Sdk" version="1.0.2" targetFramework="net472" />
  <package id="Extended.Wpf.Toolkit" version="3.8.0" targetFramework="net472" />
  <package id="ini-parser" version="2.5.2" targetFramework="net461" />
  <package id="Magick.NET-Q8-AnyCPU" version="7.9.0.1" targetFramework="net46" />
  <package id="Microsoft.ClearScript" version="5.5.5" targetFramework="net461" />
  <package id="NAudio" version="1.8.5" targetFramework="net461" />
  <package id="NAudio.Vorbis" version="1.0.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net472" />
  <package id="nrtftree-library" version="0.4.0" targetFramework="net461" />
  <package id="NVorbis" version="0.8.6" targetFramework="net461" />
  <package id="SharpDX" version="4.2.0" targetFramework="net452" />
  <package id="SharpDX.Desktop" version="4.2.0" targetFramework="net452" />
  <package id="SharpDX.Direct3D9" version="4.2.0" targetFramework="net452" />
  <package id="SharpDX.DXGI" version="4.2.0" targetFramework="net461" />
  <package id="SharpDX.Mathematics" version="4.2.0" targetFramework="net452" />
  <package id="WpfAnimatedGif" version="1.4.18" targetFramework="net461" />
</packages>